body{
  background-image:url("https://img.freepik.com/free-photo/balanced-diet-nutrition-keto-concept-assortment-healthy-ketogenic-low-carb-food-ingredients-cooking-kitchen-table-green-vegetables-meat-salmon-cheese-eggs_419307-2244.jpg?size=626&ext=jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
